<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.password">teksystems</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/one_many_one?useSSL=false</property>
		<property name="hibernate.connection.username">bnenavat</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="hibernate.jdbc.batch_size">20</property>

		<mapping class="com.tek.hibernate.beans.EmployeeC1" />
		<mapping class="com.tek.hibernate.beans.AccountC1" />
		<mapping class="com.tek.hibernate.beans.EmployeeC2" />
		<mapping class="com.tek.hibernate.beans.AccountC2" />
	</session-factory>
</hibernate-configuration>
